@import '_variables.scss';
@import 'footer.scss';
@import 'govlogo.scss';
@import 'mediaSpecific.scss';
@import 'navbar.scss';

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px $landing-sidepadding 25px $landing-sidepadding;
  background-color: $background-color;
  overflow-x: hidden;
  flex: 1;
}

// reset unnecessary bootstrap paddings/margins.
.container-fluid {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1 0 auto;
}
.base-container {
  margin: 0 auto;
  text-align: left;
  max-width: $container-max-width;
  min-width: $container-min-width;
  width: inherit;
  height: 100%;
  box-shadow: 0 0 30px #b9b9b9;
}

hr {
  border-top: 1px solid black;
}